.menu {
    display: absolute;
    top: 0;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.logo_io {
    font-size: 1.8rem;
    color: #0064B0;
}

.ionic_1 {
    padding-left: 1rem;
    cursor: pointer;
}

.redes_menu {
    text-decoration: none;
    color: #0064B0;
}

.redes_menu:hover {
    text-decoration: none;
    color: #0064B0;
}

.ionic_2 {
    padding-right: 1rem;
}

.logo_menu {
    padding-left: 3.5rem;
}

.logo_menu img {
    width: 140px;
    object-fit: contain;
}

.banner {
    display: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.oculto {
    display: none;
}

.lateral {
    position: absolute;
    left: 0;
    top: 69px;
    background-color: #ffffff;
    height: 89.5%;
    animation: salir 0.5s;
}

.lateral ul {
    padding-left: 0;
}

.lateral li {
    list-style: none;
    text-align: center;
    padding: 2rem 0;
}

.lateral li a {
    color: #000000;
    text-decoration: none;
}

@keyframes salir {
    0% {
        width: 0%
    }
    100%{
        width: 35%;
    }
}